.cardbody{
    background-color: "grey";
    block-size: "400px";
    background-position: "center";
    margin-left: "550px";
    margin-right: "550px";
    margin-top: "100px";
    margin-bottom: "100px";
    border: "solid"; 
    border-width: "10px"; 
    border-radius: "100px"
}